  <div class="text-center mt-24">
    <h3 class="mt-2 text-lg font-medium text-gray-900">No Articles Yet.</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by creating a new article.</p>
    </div>
      <%= button %>
    </div>
  </div>
  

  