  <div class="text-center mt-24">
    <h3 class="mt-2 text-lg font-medium text-gray-900 dark:text-gray-50"><%= "No #{ controller_name.classify.downcase} was created yet" %></h3>
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-200"><%= "Get started by creating a new #{ controller_name.classify.downcase}."  %></p>
    </div>
      <%= button %>
    </div>
  </div>
  

  