<footer class="bg-white  dark:bg-gray-800 dark:border-gray-700" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="mt-8 border-t border-gray-200 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">
        <%= social_network %>
      </div>
      <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">&copy; 2024 WordWise, Inc. All rights reserved.</p>
      <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1"><%= link_to 'Are you an admin?', admins_dashboard_home_index_path %></p>
    </div>
  </div>
</footer>