<div class="relative z-10 px-2 flex lg:px-0">
  <div class="flex-shrink-0 flex items-center">
    <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
    <h1 class="text-xl"> <%= @title %> </h1>
  </div>
</div>