<table class="w-full dark:bg-gray-700 dark:border-gray-800 dark:text-gray-50">
  <%= header %>
  
  <tbody class="text-center shadow-md ">
    <% rows.each do |row| %>
      <%= row %>
    <% end %>
  </tbody>
</table>
