<div class="relative text-gray-700  dark:text-gray-100 max-w-[80vw] mx-auto py-8">
  <h1 class="text-4xl font-extrabold tracking-tight  sm:text-5xl lg:text-4xl"><%= @article.title%></h1>
  <p class="py-4 text-sm max-w-3xl"><%= @article.description%></p>
  <div class="text-xl"><%= @article.body.html_safe %></div>
</div>