<div class="relative text-gray-700  dark:text-gray-100 max-w-[80vw] mx-auto py-8">
  <div class="grid gap-4 h-full items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    <% @books.each do |book| %>
      <%= render CardComponent.new(
        title: book.title,
        link: site_book_path(book),
        image: book.book_cover.url || "https://bookstoreromanceday.org/wp-content/uploads/2020/08/book-cover-placeholder.png"
      ) %>    
    <% end %>
  </div>
</div>
