<table class="min-w-full bg-white border border-gray-300 my-5">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">ID</th>
        <th class="py-2 px-4 border-b">Title</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% @articles.each do |article| %>
      <tr>
        <td class="py-2 px-4 border-b"><%= article.id %></td>
        <td class="py-2 px-4 border-b">     
          <%= link_to article.title, admins_backoffice_article_path(article), class: 'hover:underline' %>
        </td>
        <td class="py-2 px-4 border-b flex">
          <%= link_to "Edit", edit_admins_backoffice_article_path(article), class: "bg-blue-500 text-white py-1 px-2 rounded mx-1" %>

          <%= button_to "Delete", admins_backoffice_article_path(article), method: :delete, data: { confirm: "Are you sure?" },
                                                                             class: "bg-red-500 text-white  py-1 px-2 rounded" %>
        </td>
      </tr>
      <% end %>
      <!-- Add more rows as needed -->
    </tbody>
  </table>