<div class="px-16 py-4">
  <div class="grid gap-4 w-full h-full items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    <% @sermons.each do |sermon| %>
       <%= render CardComponent.new(
        title: sermon.title,
        link: site_sermon_path(sermon),
        image: "https://ccwebcontent.blob.core.windows.net/resources/blobs/images/870x489/artwork-audioplaceholder.png"
      ) %>  
    <% end %>
  </div>
</div>
