
  <aside class="w-64 bg-gray-800 text-white">

    <nav class="text-center h-screen">
      <ul class="space-y-2">
        <li>
          <%=  link_to 'Dashboard', admins_backoffice_dashboard_index_path, class:"block p-2 hover:bg-gray-700" %>
        </li>

        <li>
          <%=  link_to 'Articles', admins_backoffice_articles_index_path, class:"block p-2 hover:bg-gray-700" %>
        </li>
      </ul>
    </nav>
  </aside>