
  <aside class="w-64 bg-gray-800 text-white">

    <nav class="text-center h-screen">
      <ul class="space-y-2">
        <li>
          <a href="#" class="block p-2 hover:bg-gray-700">Link 1</a>
        </li>

        <li>
          <a href="#" class="block p-2 hover:bg-gray-700">Link 2</a>
        </li>
      </ul>
    </nav>
  </aside>