<div class="bg-slate-950 text-gray-300 p-2 flex justify-between"> 
  <h1> TopBar Admin </h1>

  <div class=""> 
    <%= button_to 'sign-out', destroy_admin_session_path, method: :delete %>
  </div>
</div>
