
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative">
  <div class="absolute inset-0">
    <img class="w-full h-full object-cover" src="https://portaldeprefeitura.com.br/wp-content/uploads/2021/09/URGENTE-13-1.jpg" alt="">
    <div class="absolute inset-0 bg-indigo-500 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl"><%= t("home.welcome.title") %></h1>
    <p class="mt-6 text-xl text-indigo-100 max-w-3xl"><%= t("home.welcome.text") %></p>
  </div>
</div>