<div>
  <%= render(HeroSectionComponent.new(
    folder_link: 'main_cover.jpg', 
    title: 'Titulo da Home',
    text: 'Texto da Home', 
    css_classes: 'w-full h-full object-cover object-center		'
  ))%>
</div>
