<div>
  <%= render(HeroSectionComponent.new(
    folder_link: 'main_cover.jpg', 
    title: t('site.home.title'),
    text: t('site.home.description'), 
    css_classes: 'w-full h-full object-cover object-center'
  ))%>
</div>